/* Reset some default styles */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header Styles */
header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 40px 0;
}

header .circle {
    display: inline-block;
    width: 120px;
    height: 120px;
    background-color: #3498db; /* Change the color as needed */
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}

header .circle span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 2em;
    color: #fff;
}

header h1 {
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

header p {
    font-size: 1.2em;
}

/* Section Styles */
section {
    padding: 40px 0;
}

section h2 {
    color: #333;
    margin-bottom: 20px;
    position: relative;
}

section h2:before {
    content: "";
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: #3498db;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

section p {
    font-size: 1.1em;
}

/* Projects Section Styles */
#projects {
    background-color: #ecf0f1;
}

#projects ul {
    list-style-type: none;
    padding: 0;
}

#projects li {
    background-color: #fff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

#projects li:hover {
    transform: scale(1.05);
}

/* Skills Section Styles */
#skills {
    background-color: #d4e6f1;
}

#skills ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
    gap: 20px;
}

#skills li {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

#skills li:hover {
    transform: scale(1.05);
}

#skills li i {
    font-size: 2em;
    color: #3498db;
}

/* Contact Section Styles */
#contact {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 40px 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
    header .circle {
        width: 80px;
        height: 80px;
    }

    header h1 {
        font-size: 2.5em;
    }

    header p {
        font-size: 1em;
    }

    section h2:before {
        width: 40px;
        height: 2px;
    }

    section p {
        font-size: 1em;
    }
}
